// Variables

$size: 840px;

@mixin tablet {
  @media (max-width: #{$size}) {
    @content;
  }
}


// Main accordion container

#my-accordion {
  width: 50%;
  min-width: 300px;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;

  >div:first-child {

    background: #fff;
    grid-column: 1 / 13;

    @include tablet {
        grid-column: 1 / 9 ;
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 30px;
  }
}


// Header

div.accordion-header {
  background-color: white;
  border-bottom: 1px solid #e4e6e5;

  min-height: 50px;
  max-height: 70px;

  outline: none;
  text-align: left;
  padding: 15px 25px;
  font-size: 18px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

  grid-column: 1 / 13;

  @include tablet {
    grid-column: 1 / 9;
  }
}

div.title-container {
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #e4e6e5;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 0 25px;
}

div.title-container h2 {
  font-weight: 400;
  font-size: 18px;
  color: #333;
  margin: 0px;
}

.titulos {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 6px 0px 6px 0px;

    font-weight: 600;
    font-size: 14px;
    color: #0465ac;
    transition: all 0.2s linear;
  }

  h4 {
    font-weight: 600;
    font-size: 12px;
    color: #999;
    margin: 6px 0px 6px 0px;
  }
}

div.is-open div.titulos h3 {
  margin: 6px 0px 6px 0px;

  font-weight: 600;
  font-size: 18px;
  color: #0465ac;
  transition: all 0.2s linear;
}

div.accordion-header i {
  font-size: 26px;
  // float: right;
  color: #0465ac;
  transition: all 300ms ease-in 0s;
}

div.accordion-header.is-open i {
  transform: rotate(180deg);
  transition: all 300ms ease-in 0s;
}

div.accordion-header:hover {
  background-color: #ddd;
}


// Accordion Content

.accordion-content {
  background-color: white;
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

  font-weight: 400;
  font-size: 13px;
  color: #333;

  grid-column: 1 / 13;

  p {
    margin: 25px 0;
  }

  @include tablet {
    grid-column: 1 / 9;
  }
}
