#my-accordion {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  

}

div.accordion {
  background-color: white;
  border-bottom: 1px solid #e4e6e5;

  min-height: 50px;
  max-height: 70px;

  outline: none;
  text-align: left;
  padding: 15px 25px;
  font-size: 18px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

}

div.title-container {
    display: flex;
    flex-flow: row wrap;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #e4e6e5;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 0 25px;
}

div.title-container h2 {
    margin: 0px;
}

div.titulos h3, div.titulos h4 {

    margin: 6px 0px 6px 0px;
}

div.accordion i {
  font-size: 14px;
  // float: right;
  transition: all 300ms ease-in 0s;
}

div.accordion.is-open i {
  transform: rotate(180deg);
  transition: all 300ms ease-in 0s;
}

div.accordion:hover{
  background-color: #ddd;
}

.titulos {
  display: flex;
  flex-direction: column;
}

.accordion-content {
  background-color: white;
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
